.App {
  text-align: center;
  max-width: 810px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 140px 0;
  overflow: hidden;
}

.App * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

